<div class="lateral">
    <div class="lateral__categorias">
        <h3>Categorías</h3>
        <form>
            <ul>
                <li><input type="radio" id="todas" name="categoria" value="1" (change)="seleccionarCategoria($event)"><label for="Todas las categorías">Categoría 1</label></li>
                <li><input type="radio" id="shooter" name="categoria" value="2" (change)="seleccionarCategoria($event)"><label for="Shooter">Categoría 2</label></li>
                <li><input type="radio" id="deporte" name="categoria" value="3" (change)="seleccionarCategoria($event)"><label for="Deportes">Categoría 3</label></li>
                <li><input type="radio" id="aventura" name="categoria" value="4" (change)="seleccionarCategoria($event)"><label for="Aventura">Categoría 4</label></li>
                <li><input type="radio" id="miedo" name="categoria" value="5" (change)="seleccionarCategoria($event)"><label for="Miedo">Categoría 5</label></li>
            </ul>
        </form>
    </div>
</div>
